.card {
    border-radius: 1rem;
}

.card img {
    margin: 0 auto;
}

.row .card {
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.row .card p {
    margin-bottom: 0.5rem;
}

.row .card img {
    max-width: 80px;
}